<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orlinskas.cyberpunk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/logo_cyberpunk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_cyberpunk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:hardwareAccelerated="false">

        <activity
            android:name=".ui.main.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.app.CountryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.app.CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.app.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.app.ContactsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.ForecastActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.app.WidgetCreatorView"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.app.WallpaperSetterActivity"
            android:label="Set Wallpaper"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.home.ConfigurationWidgetActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.FlashlightActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:finishOnTaskLaunch="true"/>

        <service
            android:name=".widgetHomeTroubleshooter.TroubleshooterUpdateService"
            android:enabled="true"/>

        <service
            android:name=".widgetHomeTroubleshooter.SmallTroubleshooterUpdateService"
            android:enabled="true"/>

        <service
            android:name=".widgetHomeSmallWeather.SmallWeatherUpdateService"
            android:enabled="true"/>

        <service
            android:name=".widgetHomeCountDown.CountDownTimerUpdateService"
            android:enabled="true"/>

        <receiver
            android:name=".widgetHomeTroubleshooter.TroubleshooterWidget"
            android:icon="@drawable/logo_cyberpunk">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_troubleshooter_metadata" />
        </receiver>

        <receiver
            android:name=".widgetHomeTroubleshooter.SmallTroubleshooterWidget"
            android:icon="@drawable/logo_cyberpunk">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_troubleshooter_metadata" />
        </receiver>

        <receiver
            android:name=".widgetHomeSmallWeather.SmallWeatherWidget"
            android:icon="@drawable/logo_cyberpunk">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_weather_metadata" />
        </receiver>

        <receiver
            android:name=".widgetHomeCountDown.CountDownWidget"
            android:icon="@drawable/logo_cyberpunk">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_count_down_metadata" />
        </receiver>

        <receiver
            android:name=".widgetHomeTroubleshooter.TroubleshooterUpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgetHomeTroubleshooter.SmallTroubleshooterUpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widgetHomeSmallWeather.SmallWeatherUpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />
    </application>

</manifest>

